name: Build Without Cache

on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Configure NASA Earthdata Login
      env:
        EARTHDATA_USER: ${{ secrets.EARTHDATA_USER}}
        EARTHDATA_PASS: ${{ secrets.EARTHDATA_PASS }}
      run: |
        echo "machine urs.earthdata.nasa.gov login $EARTHDATA_USER password $EARTHDATA_PASS" > ~/.netrc
        chmod 0600 ~/.netrc

    - uses: ./.github/actions/buildresources
      with:
        jb-cache: false
        publish-to-gh: false
        jb-save: true
