name: Repo2DockerPR
on:
  pull_request:
    branches:
      - main
    paths:
      - 'conda/**'

jobs:
  build-image:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Get CalenderVersion UTC Date
      id: calver
      run: echo "::set-output name=version::$(date +'%Y.%m.%d')"

    - name: Repo2Docker
      uses: jupyterhub/repo2docker-action@master
      with:
        NO_PUSH: true
        IMAGE_NAME: pull-request

    - name: Report Image Size and Conda Packages
      if: always()
      run: |
        docker images
        docker run pull-request:latest conda list --export
